In [1]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

In [3]:
arr = np.array([[1,2,np.nan], [np.nan, 3,4]])
dframe1 = DataFrame(arr, index=['A', 'B'], columns=['One', 'Two', 'Three'])
dframe1

   One  Two  Three
A  1.0  2.0    NaN
B  NaN  3.0    4.0

In [4]:
dframe1.sum()

One      1.0
Two      5.0
Three    4.0
dtype: float64

In [5]:
dframe1.sum(axis=0)

One      1.0
Two      5.0
Three    4.0
dtype: float64

In [6]:
dframe1.sum(axis=1)

A    3.0
B    7.0
dtype: float64

In [7]:
dframe1.min()

One      1.0
Two      2.0
Three    4.0
dtype: float64

In [9]:
dframe1.idxmin()

One      A
Two      A
Three    B
dtype: object

In [10]:
dframe1.max()

One      1.0
Two      3.0
Three    4.0
dtype: float64

In [11]:
dframe1.idxmax()

One      A
Two      B
Three    B
dtype: object

In [12]:
dframe1

   One  Two  Three
A  1.0  2.0    NaN
B  NaN  3.0    4.0

In [13]:
dframe1.cumsum()

   One  Two  Three
A  1.0  2.0    NaN
B  NaN  5.0    4.0

In [14]:
dframe1.describe()

       One       Two  Three
count  1.0  2.000000    1.0
mean   1.0  2.500000    4.0
std    NaN  0.707107    NaN
min    1.0  2.000000    4.0
25%    1.0  2.250000    4.0
50%    1.0  2.500000    4.0
75%    1.0  2.750000    4.0
max    1.0  3.000000    4.0